@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container
{
    max-width: 100%;
}

#natureVdeo
{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content
{
    font-family: 'Train One', cursive;
    font-size: 1.3rem;
    position: fixed;
    color: #f1f1f1;
    width: 30%;
    padding: 20px;
    text-align: center;
    top: 25%;
    left: 35%;
}

.content p
{
    font-family: 'Train One', cursive;
    margin-top: 40px;
    margin-bottom: 60px;
}

.buttons
{
    display: flex;
    justify-content: space-around;
}

.buttons button
{
    border-radius: 40px;
    padding: 10px 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.btn1
{
    background: rgb(197, 16, 46);
    color: white;
    border: none;
}

.btn2
{
    color: white;
    border: 1px solid white;
    background: transparent;
}