@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body
{
    background: url(../Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container
{
    max-width: 100%;
    width: 1177px;
    margin: auto;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 3px;
}

.title
{
    text-align: center;
    max-width: 100%;
    color: white;
}

.title h1
{
    font-weight: bold;
    letter-spacing: 15px;
    font-family: 'Fascinate', cursive;
}

.title p
{
    opacity: 0.7;
}

.mainContent
{
    width: 1177px;
    max-width: 100%;
    box-shadow: 3px 3px 33px #000;
    margin-top: 40px;
}

.cover
{
   max-width: 100%;
   box-sizing: border-box;
}

.cover img 
{
    max-width: 100%;
}

.underCoverTitle
{
    max-width: 100%;
    background: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.underCoverText
{
    max-width: 100%;
    background: rgb(230, 230, 230);
    box-sizing: border-box;
    padding: 80px;
}

.underCoverText p
{
    opacity: 0.7;
}

.fp
{
    margin-bottom: 30px;
}


.innerMainContent
{
    max-width: 100%;
    padding: 70px;
    background: rgb(34, 34, 34);
}

.innerTitle
{
    max-width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.innerTitle p
{
    opacity: 0.5;
}

.innerPhotos
{
    max-width: 100%;
    cursor: pointer;
    display: flex;
}

.ftp img,.stp img
{
    max-width: 100%;
}



.photoManContent,.forestManContent
{
    max-width: 100%;
    display: flex;
}

.photoManContent img,.forestManContent img
{
    width: 512px;
}

.photoManTitle
{
    background: rgb(235, 235, 235);
    max-width: 100%;
    padding: 80px;
}

.forestManTitle
{
    background: rgb(34, 34, 34);
    color: #fff;
    padding: 80px;
    text-align: right;
}


.socmedia
{
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%;
}

.socmedia a
{
    text-decoration: none;
    color: white;
}

.socmedia p
{
    color: white;
    margin-top: 5px;
}


@media(max-width:600px)
{
    .innerPhotos
    {
        max-width: 100%;
        cursor: pointer;
        display: block;
    }
}

@media(max-width:1136px)
{
    .photoManContent,.forestManContent
    {
        display: block;
        max-width: 100%;
    }

    .photoManContent img,.forestManContent img
    {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    .photoManTitle,.forestManTitle
    {
        display: block;
        max-width: 100%;
        padding: 20px;
    }
}