@font-face
{
    src: url(../fonts/bpg-boxo-boxo-webfont.ttf);
    font-family: boxo-boxo;
}

@font-face
{
    src: url(../fonts/Sacramento-Regular.ttf);
    font-family: sacramento;
}

*
{
    margin: 0;
    padding: 0;
    font-family: boxo-boxo;
    box-sizing: border-box;
}


/* Navigation */

nav
{
   box-shadow: 3px 3px 13px rgba(204, 204, 204, 0.5);
}

.container
{
    width: 70rem;
    max-width: 100%;
    margin: auto;
}

nav .row
{
    display: flex;
}


.logo
{
    font-family: sacramento;
    font-size: 3rem;
    color: #e5474b;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 1px;
}

.logo:hover
{
    color: #bd4145;
    transition: .3s;
}

.navbar
{
    margin-left: auto;
    list-style: none;
}

.navbar li
{
    display: inline-block;
    padding: 35px 20px 35px 20px;
}

.navbar li a
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .3s;
}


.navbar li a:hover
{
    color: rgb(177, 177, 177);
    transition: .3s;
}

.burger
{
    opacity: 0;
    pointer-events: none;
}


.dropper
{
    position: relative;
}

.dropdown
{
    position: absolute;
    margin: 35px 0 5px -10px ;
    padding: 20px 0 3px 0;
    background: rgba(204, 204, 204, 0.5);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    box-shadow: 3px 3px 13px rgba(204, 204, 204, 0.5);
}

.dropdown li
{
    padding: 15px;
}


.dropper:hover .dropdown
{
    opacity: 1;
    pointer-events: all;
    transition: .3s;
}





/* header */

header
{
    background: url(../images/photographer.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 3px 3px 13px rgba(204, 204, 204, 0.5);
}

.textbox
{
    display: inline-block;
    background: rgb(244, 247, 251);
    padding:5%;
    text-align: center;
    max-width: 100%;
}

.textbox h1
{
    margin-bottom: 13px;
}


header .row
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


/* inner navigation */

.innerNav .navbar li:first-child a
{
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
}



/* cards */

.cards
{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card
{
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 5px;
}

.card img
{
    max-width: 100%;
    margin-bottom: 30px;
    height: 194px;
}

.card h3
{
    margin-bottom: 15px;
}




/* blog */

.blog
{
    background:  rgb(246, 246, 246);
    margin-top: 120px;
}


.blogCards
{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogCard
{
    width: 25%;
    max-width: 100%;
    text-align: center;
    margin: 5px;
}

.blogCard h3
{
    margin-bottom: 20px;
}

.blogCard img
{
    max-width: 100%;
    margin-bottom: 30px;
    height: 194px;
    margin-top: 50px;
    object-fit: cover;
}



.blog h1
{
    text-align: center;
    padding-top: 120px;
    font-weight: lighter;
}



/* cards and Blog */
@media(max-width:1080px)
{
    .cards 
    {
        display: block;
    }
    .card
    {
        max-width: 100%;
        margin: auto;
    }

    .blogCards
    {
        display: block;

    }

    .blogCard
    {
        max-width: 100%;
        margin: auto;
    }

    .blogCard img
    {
        object-fit: contain;
    }
}


/* Navigation */
@media(max-width:730px)
{
    .burger
    {
        opacity: 1;
        pointer-events: all;
    }

    .navbar li:not(:last-child)
    {
        display: none;
    }
}


